.container:last-child{
    margin-bottom: 50rem;
}


.nothing{
    margin-bottom: 5rem;
}

.inp-container{
    position: absolute;
    z-index: 3;
    top: 4rem;
    display: flex;
    justify-content: center;
}

.hidden{
    display: none;
}

.show{
    display: flex;
}